@model CS350_BaggingApplication.ViewModels.CalculateOrderViewModel

@{
    ViewBag.Title = "New Order";
}

<h2>Create a new order</h2>

@using (Html.BeginForm("CalculateOrder", "Order"))
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Weight</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Weight</td>
                    <td><input id="Quantities" name="Quantities" type="number" value="0" /></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        @Html.LabelFor(m => m.PackageId)
        @Html.DropDownListFor(m => m.PackageId, new SelectList(Model.Packages, "Id", "Name"), null, new { @class="form-control" })
    </div>

    <button class="btn btn-primary">Calculate</button>
}

@section scripts
{
    <script>
            // Data Table breaks form post
            //$(document).ready(() => $(".table").DataTable())
    </script>
}
