
@{
    ViewBag.Title = "CreatedPackaging";
}

<h2>Package Type was created</h2>

@Html.ActionLink("Add Another Package", "NewPackaging")
@Html.ActionLink("View Items", "index", "item")
@Html.ActionLink("Admin Control Panel", "Index")