
@{
    ViewBag.Title = "Administrator Menu";
}
<div class="jumbotron">
    <h4>Administrator Menu</h4>
    <table class="table">
        <tr>
            <td><h2>Manage Inventory</h2></td>
            <td><button id="addItems" class="btn btn-primary btn-lg adminbutton" onclick="location.href='@Url.Action("NewItem", "Admin")'"><img src="https://img.icons8.com/ios-filled/100/000000/open-box.png" />Add Items</button></td>
            <td><button id="modifyStock" class="btn btn-primary btn-lg adminbutton" onclick="location.href='@Url.Action("Item", "Admin")'"><img src="https://img.icons8.com/ios-filled/100/000000/warehouse-1.png" />Manage Stock</button></td>
        </tr>
        <tr>
            <td><h2>Manage Packing</h2></td>
            <td><button id="addNewPackaging" class="btn btn-primary btn-lg adminbutton" onclick="location.href='@Url.Action("NewPackaging","Admin")'"><img src="https://img.icons8.com/ios-filled/100/000000/box--v1.png" />Add Package Type</button></td>
            <td><button id="baggingConfig" class="btn btn-primary btn-lg adminbutton" onclick="location.href='@Url.Action("Index", "BaggingOption")'"><img src="https://img.icons8.com/ios-filled/100/000000/box-settings-1.png" />Manage Packing Types</button></td>
        </tr>
    </table>
</div>

@section scripts
{
    <style>
        .adminbutton {
            width: 100%;
        }  
    </style>
}