
@{
    ViewBag.Title = "Created Packaging";
}

<h2>Packaging Type was saved</h2>

@Html.ActionLink("Add Another Package", "NewPackaging", "Admin", null, new { @class = "btn btn-default" })
@Html.ActionLink("View Packaging Types", "Packaging", "Admin", null, new { @class = "btn btn-default" })
@Html.ActionLink("Admin Control Panel", "Index", "Admin", null, new { @class = "btn btn-default" })