
@{
    ViewBag.Title = "Item Saved";
}

<h2>Item was Saved</h2>

@Html.ActionLink("Add Another Item", "NewItem", null, new { @class = "btn btn-default" } )
@Html.ActionLink("View Items", "Item", "Admin", null, new { @class = "btn btn-default" })
@Html.ActionLink("Admin Control Panel", "Index", null, new { @class = "btn btn-default" })

