@model CS350_BaggingApplication.ViewModels.ItemViewModel
@{
    ViewBag.Title = "Items";
}

<h2>Items</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Weight</th>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
            <td>@item.Weight</td>
            <td>@Html.ActionLink("Details", "Details", "Item", new { Id = item.Id }, new { @class = "btn btn-default" })</td>
        </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(() => $(".table").DataTable())
    </script>
}
